
@{
    ViewBag.Title = "امکانات";
}

<h2>امکانت</h2>
<ul>
    <li>ساخت گروه های خبری</li>
    <li>افزودن خبر به گوره های خبری</li>
    <li>نوشتن خبر</li>
    <li>ویرایش خبر</li>
    <li>افزودن تصویر به اخبار</li>
</ul>
